<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cz.sparko.Bugmaze"
          android:versionCode="7"
          android:versionName="0.0.6a">
    <uses-sdk android:minSdkVersion="15" />
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <meta-data android:name="com.google.android.gms.games.APP_ID"
                   android:value="@string/app_id" />
        <activity android:name=".Menu"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Game"
                  android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.PLAY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
